<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Blogcells</title>
</head>

<body class="min-h-screen flex flex-col bg-gray-900">
    <%- include("partials/header.ejs") %>

    <div class="bg-gray-900 py-12 sm:py-18">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <h2 class="text-4xl font-semibold tracking-tight text-pretty text-white sm:text-6xl">From the blog</h2>
                <p class="mt-2 text-lg/8 text-gray-300">Learn how to grow your business with our expert advice.</p>
                <a href="/create">
                    <button type="button"
                        class="py-2.5 px-5 me-2 mt-6 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Create
                        Post</button>
                </a>
                
            </div>

            
            <div
                class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-700 pt-5 sm:mt-8 sm:pt-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">

                <% if(locals.article){ %>
                    <% for(let i=0; i < article.length; i++){ %>

                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
                    <% if(article[i].imagePath){ %>
                    <a href="/view/<%= i %>">
                        <img class="rounded-t-lg w-full object-cover" src="<%= article[i].imagePath %>" alt="Cover image for <%= article[i].title %>" />
                    </a>
                    <% } %>
                    <div class="p-5">
                        <a href="/view/<%= i %>">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= article[i].title %></h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= article[i].body.split(' ').slice(0, 20).join(' ') + (article[i].body.split(' ').length > 20 ? '...' : '') %></p>
                        <a href="/view/<%= i %>"
                            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Read more
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M1 5h12m0 0L9 1m4 4L9 9" />
                            </svg>
                        </a>
                    </div>
                </div>
                <% } %>
                <% } %>

            </div>
        </div>
    </div>
</body>
<%- include("partials/footer.ejs") %>

</html>