<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <%- include("partials/header.ejs") %>

    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
            <h1
                class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
                <%= article[index].title %></h1>
            <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Here at
                <%= article[index].body %></p>
            <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
                <a href="#"
                    class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                    Get started
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
                <a href="#"
                    class="py-3 px-5 sm:ms-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    Learn more
                </a>
            </div>
        </div>
    </section>


    <p class="text-2xl text-center pb-4">
        Comments:
    </p>
    <div class="bg-slate-700 rounded-2xl">
        <% console.log(article[index]);%>

        <%if(article[index].comment.length > 0){%>
            <% article[index].comment.forEach(comment=> { %>
                <p class="text-2xl text-center pb-4">
                    <%= comment.username %>: <%= comment.textBody %>
                </p>
                <% }) %>
        <%}%>
    </div>
    

    <%if(index == 0 || index == 1) {%>
    <%} else {%>
        <a href="/create/<%= index %>">
            <button class="btn">
                Edit Post
            </button>
        </a>
        <a href="/delete/<%= index %>">
            <button class="btn">
                Delete Post
            </button>
        </a>
    <%}%>
    
    <a href="/" class="btn">Back to Home</a>
    <a href="/comment/<%= index %>">
        <button class="btn">
            Add comment
        </button>
    </a>
    <a href="/like/<%= index %>">
        <button class="btn">
            Like
        </button>
    </a>

    <p>
        <p class="text-2xl text-center pb-4">
            Likes: <%= article[index].likes%>
        </p>
    </p>
    </main>
    <footer class="mt-auto">
        <%- include("partials/footer.ejs") %>
    </footer>
</body>

</html>